<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <title>Blog</title>
        <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/main.css">
        <script src="../public/js/jquery-1.12.1.min.js"></script>
        <script src="../public/bootstrap/js/bootstrap.min.js"></script>
        <script src="../public/js/main.js"></script>
        <!--[if lt IE 9]>
          <script src="../public/js/html5shiv.min.js"></script>
          <script src="../public/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">tesaaat2sssssss</div>
        <p>saaa</p>
        <p>saaa</p>
        <p>saaa</p>
    </body>
</html>