<%- include header %>
<ul>
    <li><a href="https://www.github.com/" target="_blank">github</a></li>
    <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
    <li><a href="https://www.npmjs.com/" target="_blank">npmjs</a></li>
</ul>
<%- include footer %>