<%- include header %>
<form method="post" action="">
    <div>
        <label>标题：<input type="text" name="title"></label>
    </div>
    <div>
        <label>标签：</label>
        <input type="text" name="tag1"> <input type="text" name="tag2"> <input type="text" name="tag3">
    </div>
    <div>
        <label>正文：<textarea name="post" rows="10" cols="100"></textarea></label>
    </div>
    <div><input type="submit" value="发表" class="sub-btn"></div>
</form>
<%- include footer %>