<%- include header %>
<form method="post" action="" enctype="multipart/form-data">
    <input type="file" name="imgfile">
    <input type="file" name="imgfile">
    <input type="file" name="imgfile">
    <input type="file" name="imgfile">
    <input type="file" name="imgfile">
    <input type="file" name="imgfile">
    <input type="submit" value="上传" class="sub-btn">
</form>
<%- include footer %>