body {
  font-family: "microsoft yahei";
}
.article-content:before,
.article-content:after {
  content: " ";
  display: table;
}
.article-content:after {
  clear: both;
}
.article-content {
  *zoom: 1;
}
.top {
  background: #33f;
  color: #fff;
}
.nav,
.content {
  width: 80%;
  margin: 0 auto;
}
.nav a {
  display: inline-block;
  margin-right: 10px;
  padding: 0px 20px;
  line-height: 3em;
  color: #fff;
  transition: .4s;
}
.nav a:hover,
.nav a.cur {
  background: #00c;
}
form label {
  display: block;
  margin-bottom: 10px;
}
.sub-btn {
  display: block;
  margin: 10px 0px 10px 0px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background: #64a1eb;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
}
.sub-btn:hover {
  background: #5390da;
}
.sub-btn:active {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) inset;
  line-height: 32px;
}
.succ {
  color: #3c3;
}
.err {
  color: #c33;
}
.article-per {
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.article-title {
  font-size: 16px;
}
.article-title a {
  color: #a33;
}
.article-title a:hover {
  color: #f33;
}
.article-info {
  line-height: 30px;
  font-size: 12px;
}
.article-content {
  padding: 10px;
  font-size: 14px;
  background: #f1f1f1;
}
.article-content img {
  float: left;
  margin-right: 10px;
  max-width: 200px;
  vertical-align: middle;
}
.comment-per {
  margin: 10px auto;
}
.comment-per-content {
  margin: 10px auto;
  padding: 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.page {
  padding-bottom: 40px;
}
.archive {
  padding: 0;
}
.archive li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background: #eee;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) inset;
}
.search-span form {
  display: inline-block;
}
body {
  background: #f4f4f4;
}
.container-fluid {
  background: #fff;
}
