html,
button,
input,
select,
textarea {
    font-family: "Microsoft Yahei","sans-serif";
    color: #333;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

a{text-decoration: none;}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

.top{background: #33f; color: #fff;}
.nav, .content{width: 960px; margin: 0 auto;}
.nav a{display: inline-block; margin-right:10px;  padding: 0px 20px; line-height: 3em; color: #fff;}
.nav a:hover, .nav a.cur{background: #00c;}
form label{display:block; margin-bottom: 10px;}
.sub-btn{display: block; margin: 10px 0px 10px 0px; width: 80px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; background: #64a1eb; border: none; color: #fff; border-radius: 3px; cursor: pointer; transition: all .2s; text-decoration: none;}
.sub-btn:hover{background: #5390da;}
.sub-btn:active{box-shadow: 0px 3px 5px rgba(0,0,0,.2) inset; line-height: 32px;}
.succ{color: #3c3;}
.err{color: #c33;}
.post-per{margin-bottom: 10px; border-bottom: 1px dashed #ccc;}
.post-title{font-size: 16px;}
.post-title a{color: #a33;}
.post-title a:hover{color: #f33;}
.post-info{line-height: 30px; font-size: 12px;}
.post-content{padding: 10px; font-size: 14px; background: #f1f1f1;}